h1 {
  font-size: 18px;
}
.box {
  font-size: 15px;
  width: 350px;
  height: 400px;
  background: grey;
  color: #fff;
  padding-bottom: 0px;
  border-radius: 10px;
}
.tabela {
  margin: auto;
  padding-left: 25px;
  height:260px; 
  overflow:auto;
}
