<html>

<body>
    <h1>Angular R K </h1>
    <h2>Strona stworzona w Angular.js</h2>
    <app-komponent></app-komponent>

    <div class="elo">
        <div class="dwaKomp">
            <ul>
                <li>
                    <app-kolko-i-krzyzyk></app-kolko-i-krzyzyk>
                </li>
                <li>
                    <pre>       </pre>
                </li>
                <li>
                    <app-baza-api></app-baza-api>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>