/* You can add global styles to this file, and also import other style files */

.g {
    background-image: url("http://13.48.189.101/api/imgdef.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }